__pycache__/
.DS_Store
*.py[cod]
.pytest_cache/
python/build/
python/dist/
python/*.egg-info/
typescript/node_modules/
typescript/dist/
vscode/node_modules/
vscode/dist/
vscode/*.vsix
vscode/.DS_Store
